html {
    scroll-behavior: smooth;
}
body,
html {
    margin: 0;
    padding: 0;
    color: #585858;
}
* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
.d-grid {
    display: grid;
}
button,
input,
select {
    -webkit-appearance: none;
    outline: none;
}
button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}
h1,h2,p{
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: 100%;
}
hr{
    margin: 20px 0;
}
.signinform {
    padding: 50px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
    min-height: 100vh;
    background: #27344A;

}
input[type="text"],
input[type="email"],
input[type="Password"] {
    font-size: 17px;
    font-weight: 500;
    color: #999;
    text-align: left;
    padding: 14px 15px 12px 35px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    letter-spacing: .5px;
}
.input-group {
    margin-bottom: 25px;
    padding: 0px 0px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.btn-block {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.btn:active {
    outline: none;
}
.btn-primary {
    color: #fff;
    background: linear-gradient(
93.46deg,#ff6b00 23.4%,#ffa800);
    margin-top: 40px;
    outline: none;
    width: 100%;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
    text-transform: capitalize;
}
.form-row.bottom {
    display: flex;
    justify-content: space-between;
}
.form-row .form-check input[type="checkbox"] {
    display: none;
}
.form-row .form-check input[type="checkbox"]+label:before {
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    color: transparent;
    content: "\2714";
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    transition: 0.2s;
    vertical-align: inherit;
    width: 18px;
    text-align: center;
    line-height: 20px;
}
.form-row .form-check input[type="checkbox"]:checked+label:before {
    background-color: #4d61fc;
    border-color: #4d61fc;
    color: #fff;
}

.form-row .form-check input[type="checkbox"]+label {
    cursor: pointer;
    color: #888;
}
.w3_info h2 {
    display: inline-block;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
}
.w3_info h4 {
    display: inline-block;
    font-size: 15px;
    padding: 8px 0px;
    color: #444;
    text-transform: capitalize;
}
.w3_info {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
    padding: 3em 4em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.w3l-form-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 40px 0;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.w3l_form {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
    position: relative; 
}
.w3l_form .overplay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    background: linear-gradient(92.61deg, rgba(39, 52, 74, 0.85) 0%, #273858 100%);
}
.w3l_form .context{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    width: 80%;
    text-align: left;
}
.w3l_form .context img{
    margin-bottom: 25px;
}
.w3l_form .context .title{
    margin-bottom: 25px;
}
.w3l_form .context .title strong {
    color: #ff6b00;
    font-size: 52px;
    font-weight: 600;
    line-height: 50px;
}
.w3l_form .context .title span{
    font-size: 35px;
    font-weight: normal;
    color: #fff;
}
.w3l_form .context p{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    color:  #F4F7FC;
}
.w3_info .policy{
    padding-top: 25px;
    text-align: center;
    color: #888;
}
.w3_info .policy .linkPolicy{
    padding-top: 10px;
}
.w3_info .policy p{
    font-size: 17px;
}
.w3_info .policy a{
    color: #ff6b00;
    font-size: 16px;
}
p.account,
p.account a {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 16px;
    color: #888;
}
p.account a {
    color: #ff6b00;
}

p.account a:hover {
    text-decoration: underline;
}
a.forgot {
    color: #888;
    margin-top: 2px;
}
a.forgot:hover {
    text-decoration: underline;
}
.container {
    max-width: 890px;
    margin: 0 auto;
}
.input-group i.fa,
.input-group i.fas {
    font-size: 16px;
    vertical-align: middle;
    box-sizing: border-box;
    float: left;
    width: 6%;
    margin-top: 13px;
    text-align: center;
    color: #999;
    opacity: .5;
    position: absolute;
    left: 0;
}
.footer p {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #777;
}
.social-login {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    margin-bottom: 10px;
}
::-webkit-input-placeholder {
    /* Edge */
    color: #aaa;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
}
::placeholder {
    color: #aaa;
}
@media screen and (max-width: 1080px) {
    .w3_info {
        padding: 3em 3em;
    }
}
@media screen and (max-width: 991px) {
    .w3_info h2 {
        font-size: 24px;
    }

    h1 {
        font-size: 35px;
    }
}
@media screen and (max-width: 800px) {
    .w3_info h2 {
        font-size: 23px;
    }
    .w3l-form-info {
        flex-direction: column;
    }
    .w3l_form {
        display: none;
    }
    .container {
        max-width: 550px;
    }
    .left_grid_info {
        padding: 3em 3em;
    }
}
@media screen and (max-width: 736px) {
    .w3_info h2 {
        font-size: 22px;
    }

    .w3_info {
        padding: 3em 2em;
    }
}
@media screen and (max-width: 667px) {

    .left_grid_info {
        padding: 3em 3em;
    }

    .w3_info {
        padding: 3em 3em;
    }

    .w3l-form-info {
        margin: 20px 0 30px;
    }
}
@media screen and (max-width: 480px) {
    .w3l_form {
        padding: 0em;
    }

    .w3_info {
        padding: 2em 2em;
    }
}
@media screen and (max-width: 425px) {
    .signinform {
        padding: 40px 20px;
    }
}
@media screen and (max-width: 375px) {
    .form-row.bottom {
        flex-direction: column;
    }

    a.forgot {
        margin-top: 17px;
    }
}
@media screen and (max-width: 320px) {
    .w3_info h2 {
        font-size: 18px;
    }
    .btn-primary {
        padding: 13px 12px;
        font-size: 13px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 13px;
    }
    .footer p {
        font-size: 13px;
    }
    .footer p a {
        font-size: 13px;
    }
}